@*
    
*@
@{
    // Map the page layout for this Razor view page.
    this.Layout = "~/Pages/Shared/_Layout.cshtml";

    string author = "V.P.Manmohan";
}
<h1>This is my website</h1>

@*SERVER SIDE COMMENT : This comment will not be rendered on to the Browser*@
<!--CLIENT SIDE HTML COMMENT : Below line shows C# code being embeded inside HTML content -->
<p>This page is designed by @author.ToUpper()</p>
<div width="48" height="48"><img src="~/Images/filpkarrt.png"></div>
    <br />
    <br />
<div class="text-center" style="background-color: #F7DC6F; align-items:center">
    <h1 style="text-align: center; color: #E74C3C; background-color:#76448A;">Filpkart</h1>
 
    <br>
    <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiyp9rLyJ35AhWEk2YCHWKqAXwYABAAGgJzbQ&ae=2&ohost=www.google.com&cid=CAESauD2tlBY1glws8ySKdkkUP82WchB-n8SbDT6LVlKr4fCeH3Sj319Zt7G0IzjrIZLC0bo8RkLoB83Ecd7UNH5nr5c7wzZ5ZpwEnwh445BwEqLQaxRKjZq4nhAAwP0HDitTjAOqNABwFW0kIY&sig=AOD64_1Q9IGi4jFcMSsfriwXW80XX-6A5g&q&adurl&ved=2ahUKEwiytNPLyJ35AhU44DgGHYbPDC8Q0Qx6BAgDEAE&dct=1" style="color: #283747; background-color: yellow;font-size: 20px;font-family: sans-serif; text-align:center">Home</a>
    <br />
    <a href="" style="color:#2ECC71; background-color: yellow;font-size: 20px;font-family: sans-serif; text-align:center">About us</a>
    <br>
    <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwj1pdbYt6X5AhWNDisKHV_FAqMYABAAGgJzZg&ae=2&ohost=www.google.com&cid=CAESaOD2zNQ_ZRZI7lEoLf8cvGsLklgL7yljXzdPrF2dN5uy1neEoRumpqeOKyin0LbwxwYsCFNBC8xAAXAAXDV1XgFpShUISZ2pfYrkMXFQkcZSEicN0AamOzOUT3mvrabDJk9JnpRhAZMF&sig=AOD64_3juEzi_EuPvf1_gIPU0grj5FkjXA&q&adurl&ved=2ahUKEwirv8_Yt6X5AhWT4TgGHSGnBl4Q0Qx6BAgDEAE&dct=1" style="color:#283747; background-color: yellow;font-size: 20px;font-family: sans-serif; text-align:center">Search</a>
    <br>
    <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiyp9rLyJ35AhWEk2YCHWKqAXwYABADGgJzbQ&ae=2&ohost=www.google.com&cid=CAESauD2tlBY1glws8ySKdkkUP82WchB-n8SbDT6LVlKr4fCeH3Sj319Zt7G0IzjrIZLC0bo8RkLoB83Ecd7UNH5nr5c7wzZ5ZpwEnwh445BwEqLQaxRKjZq4nhAAwP0HDitTjAOqNABwFW0kIY&sig=AOD64_2dG1hYmBQI0Oc5ly5t9TefWLengA&ved=2ahUKEwiytNPLyJ35AhU44DgGHYbPDC8QqyQoAnoECAMQBw&dct=1&adurl=" style="color: #283747; background-color: yellow;font-size: 20px;font-family: sans-serif; text-align:center">Contact Us</a>
</div>

